# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*
!.env.example

# Node
node_modules/
dist/

# Docker
docker-compose.override.yml

# VS Code
.vscode/

# Local SQLite database
backend/db.sqlite3
